<footer class="footer">
	<small>
		MG News Site by Miroslav Gojic. <%= link_to "Contact email", 'mailto: miroslav.gojic.78@gmail.com' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Rails Guide", "http://guides.rubyonrails.org/index.html" %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>