<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MGNews Site", root_url, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	<% Category.ordered.each do |category| %>
        	 <li><%= link_to category.name, category %></li>         
        <% end %>

        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% Category.order_for_dropdown_menu.each do |category| %>
              <li><%= link_to category.name, category %></li>
              <% end %>
            </ul>
          </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
        <li><a href="#about">Subscribe</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>